body{
    background-image: url(../images/trainBack.png);
    background-attachment: fixed;
}

.train{
    background-image: url(../images/train.jpg);
    background-size: cover;
    
}

.btn-dark{
    transition: background-color 0.2s ease;
}

.red {
    background-color: red;
}

.red:hover{
    background-color: darkred;
}

.green {
    background-color: green;
}

.green:hover{
    background-color: darkgreen;
}